/* Typography */

.landing-page {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	.landing-page {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.landing-page {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	.landing-page {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	.landing-page {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

.landing-page {
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

.landing-page > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 5.75em;
	font-weight: 600;
}

.landing-page > .subtitle {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.75em;
	font-weight: 300;
	padding-bottom: 2.4rem;
}

.landing-page > .tagline {
	border-top: 1px solid black; 
	padding-top: 2.4rem;
	font-size: 2.3rem;
	margin: 1.rem 0;
	font-weight: 10;
}

.icons-social i {
	padding: 10px;
}

.icons-social a {
  text-decoration: none;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 3.65rem;
	height: 3.65rem;
}

/* Minimal CSS Reset */

.landing-page {
    box-sizing: border-box;
    font-size: 12px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

.icons-social {
    padding: .3em;
}
/* Theme */

main {
	background: #303F9F;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}